body {
    background-color: rgb(29, 27, 27);
    color: rgb(230, 214, 214);
}

.rectangle {
    position: fixed;
    height: 100px;
    left: 50%;
    right: 50px;
    bottom: 100px;
    background-color: rgb(230, 214, 214);
    border-radius: 10px;
}

.square {
    background-color: rgb(207, 76, 76);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top:-50px
}